:root {
  --body-bg: #f5f5f5;
  --card-bg: #e0e0e0;
  --card-bd-col: #bdbdbd;
  --text-color: #252525;
}
.dark_mode {
  --body-bg: #252525;
  --card-bg: #555;
  --card-bd-col: #212121;
  --text-color: #f5f5f5;
}

body {
  background: var(--body-bg);
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.day {
  background-color: white;
  color: black;
}

.night {
  background-color: black;
  color: white;
}

.toggleLabel {
  cursor: pointer;
  font-size: 36px; /* 아이콘의 크기를 조절하는 부분입니다. 원하는 크기로 조절할 수 있습니다. */
}
