/* 좋아요와 싫어요 버튼 스타일 */
/* .likeBtn,
.dislikeBtn {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px; 
  background-color: #007bff;
  color: #fff; 
  cursor: pointer;
  margin-right: 10px; 
} */

/* 좋아요 버튼 스타일 (예시) */
.likeBtn {
  background-color: rgb(39, 92, 51); /* 좋아요 버튼의 배경색을 초록색으로 설정합니다. */
}

/* 싫어요 버튼 스타일 (예시) */
.dislikeBtn {
  background-color: #9e222f; /* 싫어요 버튼의 배경색을 빨간색으로 설정합니다. */
}
