.BtnStyle {
  width: 60px;
  font-size: 12px;
  text-align: center;
  background-color: rgb(71, 191, 238);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 4px 0;
  border: none;
  box-shadow: none;
  overflow: visible;
  cursor: pointer;
}

.reviewCard {
  width: 1280px;
  margin: 0 auto;
}

.reviewCard .formBox {
  margin-bottom: 56px;
}

.reviewCard .reviewTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 28px;
}

.reviewTable tbody {
  display: flex;
  gap: 20px;
  margin-bottom: 6px;
}
.reviewTable tbody tr {
  display: flex;
  gap: 6px;
}

.contentBox {
  width: 100%;
  height: 100px;
  padding: 10px;
}

#list {
  width: 100%;
}

.buttonBox {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 8px;
}
.commentBox {
  margin-bottom: 28px;
}

.commentTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 28px;
}

#editf {
  height: 0px;
  overflow: hidden;
  margin-top: 0;
  transition: all 0.5s;
}

.editf {
  margin-top: 28px !important;
  transition: all 0.5s;
  height: 140px !important;
}

.commentUserBox {
  box-shadow: 0 0 10px rgba(109, 109, 109, 0.5);
  padding: 20px;
  position: relative;
}

.commentUserBox .commentUser .comment {
  margin: 10px 0;
}

.user {
  color: gray;
  font-weight: bold;
  font-size: 14px;
}
